{% extends "base.html" %}

{% block app_content %}
<nav class="navbar fixed-top navbar-light bg-transparent">
    <ul class="navbar-nav ml-auto"><li class="pr-2 pt-2"><h4><a href="/99">Back</a></h4></li></ul>
</nav>


<br><br>


<div class="container">
<div class="row">

        <div class="col-6">
            <h1 class="text-center">About the site</h1>
                <h2>How do I use this?</h2>
            <p>Enter in a few search terms for events you'd be interested in ("design, robot, resume"), and hit the Search button. We'll look through our events database to find matches for your terms in the event descriptions or titles, and then return the list!</p>
                        <p> If you searched some events up and you'd like to add them to your calendar, hit the Download button to get a .ics file that can be drag+dropped into your Mac/iCloud/Google Calendar (Make sure you add the events to a New Calendar so your main calendar doesn't become overpopulated). That's it, enjoy!</p>
<br>
            <h2>Can I add my club meetings or organization events to this list?</h2>
                <p>Sure! Just shoot me an email (Andrew ID akong) with all the details and I'll go ahead and add it to the calendar. Donating to the site lets you add sponsored events, which get placed at the top of all searches. </p>
<br>
            <h2>Why was this made?</h2>
            <p>In my freshman year, I tried to join three clubs after missing them at the Activity Fair, and failed to find any information about their meetings or mailing lists from The Bridge. After this, I gave up on joining them.</p>

            <p> Afterwards, I thought how helpful it would have been to have a website compiling and filtering all the club meetings or all the neat events going on on-campus at CMU in order to stay connected but not overwhelmed with the barrage of events being emailed and advertised every day. Carnegie Calendar is the result.</p>

                <p>Me and some friends (lchilamk, vvortega, aavadhan) started making this as Project Surf for Tartanhacks 2019, but failed to get the NLP working. A few of us rebooted the idea during HackCMU and got it working. Turns out premature optimization really is the root of all evil.</p>
<br>
            <h2>Technical details?</h2>
            <p>The site's backend is written in Python, using Flask to handle searches or downloads. I'm using a pretty minimal Bootstrap frontend whose color scheme was stolen from my <a href="https://andykong.org">website</a> because I'm not great at front-end. </p><p>
                The site is hosted on PythonAnywhere, and costs around $10 a month out of my own pocket to keep up. If you found Carnegie Calendar helpful, please donate a dollar to help me keep the server running (Venmo: @kongmunist)! </p>
<br>
            <h2>I have a suggestion, or want to add a feature. </h2>
            <p>
                Email me (akong) with any potential features, or if you'd be interested in working on the site.
            </p>

        </div>

        <div class="col-6">
            <h1 class="text-center">About the creator</h1>
        <a title="That me"><img class="img-fluid mx-auto d-block" style="width: auto;max-height: 30vh;" hover="ahhh" src="static/andykong.png"> </a>

                Hello! I'm Andy Kong, a CS student in CMU's class of 2022. I made Carnegie Calendar because I wish this resource had been available when I needed it, to allow CMU students to explore and connect to the campus community. I like working on software and hardware projects to make useful things. Here's my <a href="https://andykong.org/">personal site</a> if you want to check out other stuff I've made.
            </p>

            </div>
    </div>
</div>
<br>

{% endblock %}