{% extends "base.html" %}

{% block app_content %}
<br><br>
<div class="row">
    <div class="container">
        <h1 class="text-center">Hello, I'm Andy Kong</h1>
        <img class="center-block" alt="Stop Clicking On My Face" src="static/andykong.png">
        <div class="col-12">


            <p>I'm in CMU SCS, part of the class of 2022. Me and some friends started making this as Project Surf for Tartanhacks 2019, but failed. We rebooted it during HackCMU and got it working. Turns out premature optimization really is the root of all evil. Anyway, contact me (akong) with suggestions for additional features or complaints about existing ones, or if you want to help develop it. </p>
            <br>
            <p>I pay for Carnegie Calendar out-of-pocket because I think it's a wonderful resource for any CMU student to explore the community. If you found Carnegie Calendar helpful, maybe it got you an interview or a free meal or at least an interesting tech talk, please donate to help me keep the server running! My Venmo is @kongmunist. Thanks!</p>
            </div>
    </div>
</div>
<br>

{% endblock %}