{% extends "base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 projectpage" style="max-width:1000px;">
        <h1 style="text-center; margin-bottom: 5px">{{ page.title }}</h1>
            <p style="margin-bottom: 0px; margin-top: 0px">Timespan: {{ page.timespan }}</p>
            <p style="margin-bottom: 5px; margin-top: 0px">Published: {{page.date}}</p>
            <hr>
        {{ page.html|safe }}
            </div>
        <div class="col-2"></div>
        <!--Need to make project images all have that max width-->

</div>
{% endblock %}

