env
.DS_Store
.idea/misc.xml
.idea/modules.xml
.idea/surf.iml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/azure.cpython-36.pyc
__pycache__/fileio.cpython-36.pyc
__pycache__/test.cpython-36.pyc
__pycache__/regularizeTimenDate.cpython-36.pyc
__pycache__/mailinglists.cpython-36.pyc
__pycache__/isEventRegex.cpython-36.pyc
calendars/
*.icloud
*.icloud
.posterList2.pdf.icloud
